.footer {
    z-index: 2;
    height: 100vh;
    width: 90%;
    margin: 0 auto;
    color: #fff;
    position: relative;
    
    &__wrap {
        width: 100%;
        position: absolute;
        top: 55%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    
    &__txt {
        font-size: .8rem;
        line-height: 2rem;
        margin-bottom: 80px;
        
        @media screen and (min-width: 768px) {
            font-size: 1.8rem;
            line-height: 4rem;
        }
        
        @media screen and (min-width: 1024px) {
            font-size: 2.4vw;
            line-height: 8vh;
        }
    }

    &__copy {
        font-size: .6rem;
        position: absolute;
        bottom: 1vh;
        left: 50%;
        transform: translate(-50%);

        @media screen and (min-width: 768px) {
            font-size: 0.9rem;
        }
    }
}


.form {
    margin-bottom: 15vh;

    &__wrap {
        @include flex;
    }

    &__box {
        width: 48%;
    }

    &__label {
        display: block;
        padding: 0 10px;
    }

    &__input {
        width: 100%;
        padding: 10px;
        background: rgb(0, 0, 0);
        border: none;
        border-bottom: 1px solid #fff;
        font-size: 16px;
        letter-spacing: 0.1em;
        color: #fff;
        margin-bottom: 3vh;
    }

    &__textarea {
        @extend .form__input;
        height: 10vh;
    }
    
    &__submit {
        @extend .form__input;
        border: none;
        -webkit-appearance: none;
        text-align: left;
        font-size: 14px;
    }
}