.wrapperen {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.6rem;
    // letter-spacing: 0;

    //ここから同じ
    transition: .4s;
    width: 90%;
    margin: 0 auto;

    @media screen and (min-width: 1024px) {
        width: 77%;
        margin: 0 8% 0 15%;
    }
}

.footer__txten {
    font-size: 1.6rem;
    line-height: 2rem;
    margin-bottom: 80px;
    
    @media screen and (min-width: 768px) {
        font-size: 2.4rem;
        line-height: 4rem;
    }
    
    @media screen and (min-width: 1024px) {
        font-size: 4.4rem;
        line-height: 5rem;
    }
}