body {
    font-family: $font-txt;
    font-weight: 500;
    letter-spacing: 0.1rem;
    line-height: 1.6rem;
}

.wrapper {
    transition: .4s;
    width: 90%;
    margin: 0 auto;

    @media screen and (min-width: 1024px) {
        width: 77%;
        margin: 0 8% 0 15%;
    }
}

.mv {
    height: 100vh;
    width: 100%;
    margin-bottom: 200px;
    position: relative;
    
    &__pic {
        width: 100%;
        height: 43%;
        background: url(../images/mv.jpg) center center / cover;
        position: fixed;
        top: 40%;
        left: 0;
        position: absolute;
        animation: fadeInMV 3s ease 1s 1 normal backwards;
        
        @media screen and (min-width: 1024px) {
            height: 75%;
            width: 85%;
            top: 12%;
            left: 20%;
        }
    }
    
    @keyframes fadeInMV {
        from {
            opacity: 0;
        }
        
        to {
            opacity: 1;
        }
    }
    
    &__wrap {
        position: absolute;
        top: 15%;
        left: 0;
        
        @media screen and (min-width: 1024px) {
            top: 15%;
            left: 5%;
        }
    }
    
    &__ttl1 {
        font-family: $font-ttl;
        font-weight: 600;
        font-size: 5rem;
        line-height: 5rem;
        animation: fadeInTTL1 1s ease 1s 1 normal backwards;
        
        @media screen and (min-width:768px) {
            font-size: 8rem;
            line-height: 8rem;
        }
        
        @media screen and (min-width: 1024px) {
            font-size: 9vw;
            line-height: 17vh;
        }
    }
    
    &__ttl2 {
        @extend .mv__ttl1;
        animation: fadeInTTL 3s ease 1s 1 normal backwards;
    }
    
    &__ttl3 {
        @extend .mv__ttl1;
        margin-bottom: 16rem;
        animation: fadeInTTL 5s ease 1s 1 normal backwards;
        
        @media screen and (min-width:768px) {
            margin-bottom: 23rem;
        }
        
        @media screen and (min-width: 1024px) {
            margin-bottom: 5vh;
        }
    }
    
    @keyframes fadeInTTL1 {
        from {
            opacity: 0;
            transform: translateX(-10px);
        }
        
        to {
            opacity: 1;
            transform: translateX(0px);
        }
    }

    @keyframes fadeInTTL {
        from {
            opacity: 0;
            transform: translateX(-20px);
        }
        
        to {
            opacity: 1;
            transform: translateX(0px);
        }
    }
    
    &__txt {
        font-size: 1.2rem;
        font-family: 'Montserrat', sans-serif;
        font-weight: normal;
        animation: fadeInTXT 5s ease 1s 1 normal backwards;
        
        @media screen and (min-width:768px) {
            font-size: 1.8rem;
        }

        @media screen and (min-width: 1024px) {
            font-size: 2.2rem;
        }
    }

    @keyframes fadeInTXT {
        from {
            opacity: 0;
            transform: translateX(-20px);
        }
        
        to {
            opacity: 1;
            transform: translateX(0px);
        }
    }
}

.main {
    width: 100%;
}

.about {
    &__ttl {
        @include ttl;
    }

    &__wrap {
        @include flex;
        flex-direction: column-reverse;
        margin-bottom: 100px;

        @media screen and (min-width: 1024px) {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-areas:
                "area1 area2";
            grid-gap: 24px;
        }
    }

    &__txt {
        margin-bottom: 20px;
        font-size: 0.8rem;

        &:last-of-type {
            margin-bottom: 0;
        }

        @media screen and (min-width: 768px) {
            font-size: 2.1vw;
        }

        @media screen and (min-width: 1024px) {
            font-size: 0.8vw;
        }
    }

    &__pic {
        height: 45vh;
        margin-bottom: 50px;

        @media screen and (min-width: 1024px) {
            grid-area: area2;
            margin-bottom: 0;
        }
    }

    &__img {
        @include img;
        object-position: 20% 70%;
    }

    @media screen and (min-width: 1024px) {
        &__txtbox {
            grid-area: area1;
        }
    }
}

.skill {
    margin: 0 0 300px 15px;

    @media screen and (min-width: 768px) {
        @include flex;
        flex-wrap: wrap;
    }

    &__unit {
        display: grid;
        grid-template-columns: 17% 83%;
        grid-template-rows: 1fr 1fr;
        grid-template-areas:
            "area1 area2"
            "area3 area3";
        grid-gap: 1vh;
        margin-bottom: 26px;

        @media screen and (min-width:768px) {
            grid-template-columns: 20% 80%;
            grid-template-rows: 20% 80%;
            grid-template-areas:
                "area1 area2"
                "area3 area3";
            width: 46%;
        }

        @media screen and (min-width: 1024px) {
            grid-template-areas:
                "area1 area2"
                "area1 area3";
            width: 30%;
            margin-bottom: 48px;
        }
    }

    &__icon {
        grid-area: area1;
        @include flex;

        @media screen and (min-width: 768px) {
            margin-bottom: 2vh;
            ;
        }
    }

    &__sub {
        font-size: 1.2rem;
        font-weight: 500;
        grid-area: area2;
        @include flex;

        @media screen and (min-width: 768px) {
            font-size: 2.5vw;
            align-self: center;
        }

        @media screen and (min-width: 1024px) {
            font-size: 1.3vw;
        }
    }

    &__txt {
        grid-area: area3;
        font-size: .8rem;

        @media screen and (min-width: 768px) {
            font-size: 2.1vw;
            margin-top: 1vh;
        }

        @media screen and (min-width: 1024px) {
            font-size: .8vw;
            margin-top: 0;
        }
    }
}

.projects {
    display: flex;
    justify-content: center;
    align-items: center;

    &__wrap {
        position: relative;
        margin-bottom: 30vh;
        // width: 85%;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
        grid-template-rows: repeat(auto-fit, minmax(230px, 300px));
        line-height: 0;
    }

    &__box {
        position: relative;

        &:nth-child(1) {
            grid-column: span 2;
            grid-row: span 2;
        }

        &:nth-child(8) {
            grid-column: span 2;
            grid-row: span 1;
        }
    }

    &__img {
        @include img;
        opacity: 0.3;
        transition: 0.5s;

        &:hover {
            opacity: 1;
            transition: 0.5s;
        }
    }

    &__txt {
        position: absolute;
        bottom: 10px;
        left: 10px;
        font-family: $font-ttl;
        font-size: 18px;
        line-height: 1;
        color: #fff;
    }
}



// &::before {
//     content: "";
//     background: rgb(149, 197, 216);
//     position: relative;
//     top: 8vh;
//     width: 90%;
//     height: 15vh;
//     display: block;
//     margin-left: 10%;
//     position: sticky;
//     z-index: -1;
// }

// @media screen and (min-width:768px) {
//     height: 20vh;
// }

// @media screen and (min-width:1024px) {
//     height: 35vh;
// }
// }

// &__ttl {
//     position: sticky;
//     @include ttl;
//     height: 2vh;

//     @media screen and (min-width:768px) {
//         top: -12vh;
//     }

//     @media screen and (min-width: 1024px) {
//         top: 5vh;
//         // top: -20vh;
//     }
// }

// &__wrap {
//     margin-top: -6vh;

//     @media screen and (min-width: 768px) {
//         margin-top: -10vh;
//     }

//     @media screen and (min-width: 1024px) {
//         margin-top: -20vh;
//     }
// }

// &__box {
//     width: 100%;
//     margin-bottom: 10vh;

//     @media screen and (min-width: 1024px) {
//         margin-bottom: 15vh;
//     }
// }

// &__pic {
//     width: 90%;
//     height: 40vh;
//     margin: -3vh 0 0 50px;

//     @media screen and (min-width: 768px) {
//         width: 80%;
//     }

//     @media screen and (min-width: 1024px) {
//         width: 40%;
//     }

//     &fly {
//         width: 261px;
//         height: 183.9px;
//         margin: 2vh 0 0 auto;

//         @media screen and (min-width:768px) {
//             width: 435px;
//             height: 306.5px;
//             margin-right: 3%;
//         }

//         @media screen and (min-width: 1024px) {
//             width: 522px;
//             height: 368px;
//         }
//     }
// }

// &__img {
//     @include img;
//     transition: 0.5s;
//     opacity: 0.2;

//     :hover {
//         opacity: 0.8;
//         transition: 0.5s;
//     }

// &__txtbox {
//     position: relative;

// }

// &__sub {
//     font-family: $font-ttl;
//     font-size: 5rem;
//     font-weight: 600;
//     position: absolute;
//     top: -37vh;

//     @media screen and (min-width: 768px) {
//         margin-bottom: 0.5vh;
//         font-size: 1.4rem;
//     }

//     @media screen and (min-width: 1024px) {
//         font-size: 4vw;
//         line-height: 1;
//     }
// }

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    color: #fff;

    &__wrap {
        background: rgba(0, 0, 0, 0.9);
        height: 100vh;
        padding: 0 10%;
        display: none;
    }

    &__container {
        height: 100vh;
        overflow-y: scroll;
        padding: 13vh 0;

        @media screen and (min-width: 768px) {
            -ms-overflow-style: none;
            scrollbar-width: none;

            &::-webkit-scrollbar {
                display: none;
            }
        }

        @media screen and (min-width: 1024px) {
            overflow: hidden;
            height: auto;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 80%;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 5% 5% 75% 15%;
            grid-template-areas:
                "area1 area2"
                "area3 area2"
                "area4 area2"
                "area5 area5";
            grid-gap: 3vh;
        }
    }

    &__sub {
        font-size: 1.5rem;

        @media screen and (min-width: 768px) {
            font-size: 2rem;
        }

        @media screen and (min-width: 1024px) {
            text-align: center;
            grid-area: area1;
        }
    }

    &__subtxt {
        margin-bottom: 3vh;
        font-size: 1rem;

        @media screen and (min-width: 768px) {
            font-size: 1rem;
        }

        @media screen and (min-width: 1024px) {
            text-align: center;
            grid-area: area3;
            margin-top: -2vh;
        }
    }

    &__imgbox {
        @media screen and (min-width: 1024px) {
            align-self: center;
            grid-area: area2;
        }
    }

    &__pic {
        width: 100%;
        height: 25vh;
        margin: 0 auto 3vh 0;
        overflow-y: scroll;

        @media screen and (min-width: 768px) {
            height: 31vh;
        }

        @media screen and (min-width: 1024px) {
            width: 90%;
            height: 40vh;
            grid-area: area2;
            margin: 0 0 0 auto;
        }
    }

    &__picfly {
        width: 100%;
        height: 35vh;
        margin: 0 auto 3vh 0;

        @media screen and (min-width: 768px) {
            height: 45vh;
        }

        @media screen and (min-width: 1024px) {
            width: 90%;
            height: 50vh;
            grid-area: area2;
            margin: 0 0 0 auto;
        }
    }

    &__img {
        @include img;
        height: auto;
    }

    &__txtbox {
        margin-bottom: 5vh;
        font-size: 0.8rem;

        @media screen and (min-width: 768px) {
            font-size: 1rem;
        }

        @media screen and (min-width: 1024px) {
            font-size: 0.9vw;
            grid-area: area4;
            margin-bottom: 0;
        }
    }

    &__txt {
        margin-bottom: 3vh;

        &:last-of-type {
            margin-bottom: 0;
        }
    }

    &__more {
        text-align: center;

        @media screen and (min-width: 1024px) {
            grid-area: area5;
        }
    }

    &__link {
        display: inline-block;
        text-decoration: none;
        padding: 12px 100px;
        border-radius: 50px;
        color: rgb(0, 0, 0);
        background: rgb(255, 255, 255);

        @media screen and (min-width: 1024px) {
            &:hover {
                opacity: .6;
            }
        }
    }
}