body {
    transition: .2s;
    // font-family: "游ゴシック", "Yu Gothic", "游ゴシック体", YuGothic, sans-serif;
    font-family: $font-txt;
    letter-spacing: 0.1rem;
}

.wrapper {
    transition: .4s;
    width: 90%;
    margin: 0 auto;

    @media screen and (min-width: 1024px) {
        width: 77%;
        margin: 0 8% 0 15%;
    }
}

.mv {
    height: 100vh;
    width: 100%;
    margin-bottom: 200px;
    position: relative;

    &__pic {
        width: 100%;
        height: 40%;
        background: url(../images/mv.jpg) center center / cover;
        position: fixed;
        top: 48%;
        left: 0;
        position: absolute;

        @media screen and (min-width: 1024px) {
            height: 75%;
            width: 85%;
            top: 15%;
            left: 20%;
        }
    }

    &__wrap {
        position: absolute;
        top: 15%;
        left: 0;

        @media screen and (min-width: 1024px) {
            top: 20%;
            left: 5%;
        }
    }

    &__ttl {
        font-family: $font-ttl;
        font-weight: 400;
        font-size: 5rem;
        line-height: 5rem;
        margin-bottom: 16rem;

        @media screen and (min-width:768px) {
            font-size: 8rem;
            line-height: 8rem;
            margin-bottom: 23rem;
        }

        @media screen and (min-width: 1024px) {
            font-size: 10rem;
            line-height: 12rem;
            margin-bottom: 01rem;
        }
    }

    &__txt {
        font-size: 1.2rem;

        @media screen and (min-width:768px) {
            font-size: 1.8rem;
        }

        @media screen and (min-width: 1024px) {
            font-size: 2.2rem;
        }
    }

}

.main {
    width: 100%;
    line-height: 1.3rem;
}

.about {

    &__ttl {
        @include ttl;
    }

    &__wrap {
        @include flex;
        flex-direction: column-reverse;
        margin-bottom: 100px;
    }

    &__txt {
        margin-bottom: 20px;

        &:last-of-type {
            margin-bottom: 0;
        }
    }

    &__pic {
        height: 25vh;
        margin-bottom: 50px;
    }

    &__img {
        @include img;
        object-position: 20% center;
    }

    @media screen and (min-width: 1024px) {
        &__wrap {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-areas:
                "area1 area2";
            grid-gap: 24px;
        }

        &__txtbox {
            grid-area: area1;
        }

        &__pic {
            grid-area: area2;
            height: 100%;
            margin-bottom: 0;
        }
    }
}

.skill {
    margin: 0 0 300px 15px;

    @media screen and (min-width: 1024px) {
        @include flex;
        flex-wrap: wrap;
    }


    &__unit {
        display: grid;
        grid-template-columns: 17% 83%;
        grid-template-rows: 1fr 1fr;
        grid-template-areas:
            "area1 area2"
            "area3 area3";
        grid-gap: 5px;
        margin-bottom: 26px;

        @media screen and (min-width:768px) {
            grid-template-columns: 8% 92%;
        }

        @media screen and (min-width: 1024px) {
            grid-template-columns: 20% 80%;
            grid-template-rows: 20% 80%;
            grid-template-areas:
                "area1 area2"
                "area1 area3";
            width: 30%;
            margin-bottom: 48px;
        }
    }

    &__icon {
        grid-area: area1;
        @include flex;
    }

    &__sub {
        font-size: 1.2rem;
        font-weight: 600;
        grid-area: area2;
        @include flex;

        @media screen and (min-width:768px) {
            font-size: 1.3rem;
        }
    }

    &__txt {
        grid-area: area3;

        @media screen and (min-width:768px) {
            margin-top: 10px;
        }
    }
}

.projects {
    margin-bottom: 200px;

    &__ttl {
        @include ttl;
        margin-bottom: 50px;
    }

    &__wrap {
        width: 100%;
        @include flex;
        justify-content: center;
        flex-wrap: wrap;
        margin: 0 auto;
    }

    &__link {

        &1 {
            @include p-link;
            background: #D8CF68;
        }

        &2 {
            @include p-link;
            background: #DB7C7C;
        }

        &3 {
            @include p-link;
            background: #7C8BDB;
        }

        &4 {
            @include p-link;
            background: #B67CDB;
        }

        &5 {
            @include p-link;
            background: #DBAF7C;
        }

        &6 {
            @include p-link;
            background: #7CC9DB;
        }

        &7 {
            @include p-link;
            background: #94B474;
        }
    }

    &__pic {

        &1 {
            @include p-pic;
            background: url(../images/projects1.jpg) center center / cover;
        }

        &2 {
            @include p-pic;
            background: url(../images/projects2.jpg) center center / cover;
        }

        &3 {
            @include p-pic;
            background: url(../images/projects3.jpg) center center / cover;
        }

        &4 {
            @include p-pic;
            background: url(../images/projects4.jpg) center center / cover;
        }

        &5 {
            @include p-pic;
            background: url(../images/projects5.jpg) center center / cover;
        }

        &6 {
            @include p-pic;
            background: url(../images/projects6.jpg) center center / cover;
        }

        &7 {
            @include p-pic;
            background: url(../images/projects7.jpg) top center / cover;
        }
    }

    &__txtbox {
        position: absolute;
        top: 5%;
        left: 5%;
        opacity: 0.8;
        transition: .4s;
        width: 90%;

        @media screen and (min-width:768px) {
            top: 10%;
        }
    }

    &__sub {
        color: #000;
        font-size: 18px;
        margin-bottom: 3px;
        font-weight: 600;

        @media screen and (min-width:768px) {
            font-size: 1.5rem;
            margin-bottom: 10px;
        }
    }

    &__txt {
        color: #000;
        font-size: 14px;

        @media screen and (min-width:768px) {
            font-size: 1rem;
        }
    }
}


.projectsyes {
    margin-bottom: 70vh;

    &__ttl {
        position: sticky;
        z-index: -1;
        top: 15vh;
        @include ttl;
        height: 2vh;

        &::after {
            content: "";
            background: rgb(101, 101, 250);
            position: relative;
            top: -10vh;
            height: 35vh;
            width: 90%;
            display: block;
            margin-left: 10%;
            z-index: -2;
        }
    }


    &__box {
        width: 100%;
        margin-bottom: 80px;
    }

    &__sub {
        font-size: 1.5rem;
        margin-bottom: 10px;
        margin-right: 80px;
        text-align: right;
    }

    &__txt {
        font-size: .8rem;
        margin-right: 80px;
        text-align: right;
    }

    &__pic {
        margin: 0 0 0 auto;
        width: 70%;
        height: 60vh;
        margin-top: -40px;
    }

    &__img {
        @include img;
    }

    &__href {
        text-align: center;
        margin-top: -40px;
        margin-right: 250px;
        font-size: 0.8rem;
    }

    &__link {
        text-decoration: none;
    }
}