.new-wrapper {
    background: #000;
    width: 100%;
}

.rotate-top {
    transform: rotate(45deg);
}
  
.hide-middle {
    opacity: 0;
}
  
.rotate-bottom {
    transform: rotate(-45deg);
}

.gnav-active {
    pointer-events: auto;
    transform: translateX(0);
}

.fadein {
    opacity : 0;
    transform: translateY(50px);
    transition: all 1s;
}

.show {
    opacity: 0;
    transform: translateY(0);
    animation: fadeIn 2s ease 0s;
    animation-fill-mode: forwards;
}